body{
  height: 100vh;
  background :linear-gradient(-45deg,#c03136,#1b0b38);
}
.all{
  margin: 80px 120px;
  padding: 0px 0px;
  border-radius: 20px;
  border-color: none;
  border-style:outset;
  background :linear-gradient(135deg,#c03136,#1b0b38);
  color: aliceblue;
}
hr{
  margin-left: 30px;
   margin-right: 30px;
   margin-bottom: 20px;
}
h1{
  text-align: center;
}
.form{
  display: flex;
  padding-left:100px;
  color: aliceblue;
  
  
}
.first-div{
  font-size: 20px;
  font-family: sans-serif;
  color: aliceblue;

}
.second-div{
  
  font-size: 20px;
  font-family: sans-serif;
  margin-left: 30px;
  color: aliceblue;

}
.button{
  text-align: center;
}
.but{
  
  text-align: center;
  margin: 10px 20px;
  width: 350px;
  height: 40px;
  font-size: 25px;
  color: aliceblue;
  background :linear-gradient(-45deg,#c03136,#1b0b38);
 
}

.gender{
  padding-left:100px;
  color: aliceblue;
  
}